* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
     background-size: cover;
    background-position: top center;
  }
  
  
  .app-wrap {
    display: flex;
    flex-direction: column;
    
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    outline: none;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  
  header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .container {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location  {
    color: #000;
    font-size: 16px;
  }
  
  .current .temp {
    color: #000;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
  }
  
  .current .temp span {
    font-weight: 400;
  }
  
  
   .city {
    font-size: 30px;
    font-weight: bolder;
  }
  .current {
    color: #000;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
  }