*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#board{
	margin: auto;
	width: max-content;
	margin-top: 100px;
}

#buttons{
	margin: auto;
	width: max-content;
	margin-top: 50px;
}